---
import { getCollection } from 'astro:content';
import Service from './service.astro';
const services = await getCollection('services');

---

<section id="services">
    <h2 class="heading"><span>Services</span></h2>

    <div class="content">
      {services.map(service => <Service service={service} />)}
     
    </div>
  </section>

  <style>
   #services {
   
    
   }
   .content {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(230px,1fr));
    gap: 2rem;
   }

  </style>