---
import About from "../components/about.astro";
import ContactUs from "../components/contact/contact-us.astro";
import Contact from "../components/contact/contact-form.astro";
import FixedContact from "../components/contact/fixed-contact.astro";
import Header from "../components/header.astro";
import Home from "../components/home.astro";
import Projects from "../components/projects.astro";
import Service from "../components/services/services.astro";
import '../styles/global.css'
import RightNav from "../components/right-nav.astro";
import FixedNav from "../components/fixed-nav.astro";
import MobileNav from "../components/mobile-nav.astro";
import ThemeButton from "../components/theme-button.astro";

---s

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Company Name</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	</head>
	<body>	
		<div class="theme-toggle-button">
			<ThemeButton />
		</div>
		<FixedNav />
		

		</div>

		<div class="container">
			<MobileNav />
		
			<div class="box">
				<RightNav />
				<main class="main">
					
					<!-- Home Section -->
					<Home />
					<!-- about us -->
					<About />
					<!-- services -->
					<Service />
					<!-- our projects -->
					<Projects />
					<!-- contact us -->
					 <ContactUs />
					
				</main>
			</div>
			
		</div>
		<!-- contact us -->
		<!-- <FixedContact /> -->
	</body>
</html>

<script>
	
	// menu button
	const menuBtn = document.querySelector(".menu-btn") as HTMLButtonElement;
	menuBtn.onclick = () => {
		// hide overlay
		(document.querySelector(".overlay") as HTMLDivElement).style.display = "block";
// hide nav bar
(document.querySelector('.fixed-nav') as HTMLDivElement).classList.add("show")
	}

	//end
const init = () => {
	const theme = localStorage.getItem("my-theme") || "";
	document.documentElement.setAttribute('data-theme', theme);

}
init();

	


	document.addEventListener('DOMContentLoaded', () => {
    const links = document.querySelectorAll<HTMLAnchorElement>('.link');
    const sections = document.querySelectorAll<HTMLDivElement>('section');
  
    const observerOptions = {
        root: null,
        rootMargin: '0px',
        threshold: 0.5  // Adjust this value based on when you want the effect to trigger
    };

    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                const id = entry.target.getAttribute('id');
				const links = document.querySelectorAll<HTMLAnchorElement>(`a[href="#${id}"]`)
				links.forEach(link => link.classList.add('active'));
			 console.log(id, links);
			 
				 // Update the URL without reloading the page
				 history.pushState(null, '', `#${id}`);
				
            } else {
                const id = entry.target.getAttribute('id');
				console.log("remove "+id);
				
                document.querySelectorAll<HTMLAnchorElement>(`a[href="#${id}"]`).forEach(link => link.classList.remove('active'));
            }
        });
    }, observerOptions);

    sections.forEach(section => {
        observer.observe(section);
    });
});

</script>