---
import ContactForm from "./contact-form.astro";
---

<section class="contact-us" id="contact">
    <h2>Contact Us</h2>
    <p>Shoot us an email directly on company@gmail.com or <br/> send us a message </p>
    <div class="content">
        <ContactForm />
    </div>
</section>
<style>
   .contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   margin-block: 1rem;
   }
    .content {
        /* border: 2px solid var(--text-color); */
        width: min(30rem,100%);
        padding: 1rem;
        background-color: var( --card-color);
    }

</style>