---
import Image from 'astro/components/Image.astro'
import logo from '../assets/logo.png'
---

<div class="logo-box">
    <span>Tech</span><div class="col">
        <span>Dhara</span>
        <Image src={logo} alt="logo" format="avif"/>
    </div>
</div>


<style>
    div {
        color: #222f3e;
    }
    .logo-box{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
       
    }
    .logo-box > span {
        align-self: end;
    }
    .col {
        display: flex;
        flex-direction: column-reverse;
        font-size: 0.35em;
       align-items: center;
    }
    img {
        height: 1.3em;
        width: 1.8em;
       
    }
</style>