---
import Header from "./header.astro";

---

<div class="right-nav">
    <Header />
</div>

<style>
.right-nav {
  height: 100dvh;
  position: sticky;
  top: 0;
  width: 16rem;
  background-color: red;
}
    @media only screen and (max-width: 600px) {
          .right-nav {
           
            display: none;
          }
        }
    </style>