<div class="theme-btn">
    <span class="light-icon"><i class="fa-solid fa-sun">
        </i></span><span class="dark-icon"><i class="fa-solid fa-moon"></i></span>
    </div>
<style>
div {
  border: none;
  border-radius: 50%;
  height: 2.2rem;
  width: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
}
.light-icon ,.dark-icon {
  display: none;
}
</style>

<script>
	//toggle theme
	const themeBtn = document.querySelector(".theme-btn") as HTMLDivElement;
	const lightIcon = document.querySelector(".light-icon") as HTMLSpanElement;
	const darkIcon = document.querySelector(".dark-icon") as HTMLSpanElement;
const init = () => {
	const theme = localStorage.getItem("my-theme") || "";
	document.documentElement.setAttribute('data-theme', theme);
	if(!theme) {
		darkIcon.style.display = "inline";
		
	}else{
		lightIcon.style.display = "inline";
	}

}
init();
    
	themeBtn.addEventListener("click", () => {
    
        
		const theme = localStorage.getItem("my-theme") || "";
		const newTheme = !theme ?"dark":""
		document.documentElement.setAttribute('data-theme', newTheme);
		localStorage.setItem("my-theme",newTheme);
		if(!newTheme) {
			//change to dark theme
		
			lightIcon.style.display = "none";
			darkIcon.style.display = "inline";
		}else{
			//change to light theme
			
			lightIcon.style.display = "inline";
			darkIcon.style.display = "none";
		}
	})
</script>