<div class="theme-btn">
    <span class="light-icon"><i class="fa-solid fa-sun">
        </i></span><span class="dark-icon"><i class="fa-solid fa-moon"></i></span>
    </div>
<style>
div {
  border: none;
  border-radius: 50%;
  height: 2.2rem;
  width: 2.2rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
}

</style>

<script>
    //toggle theme
	const themeBtn = document.querySelector(".theme-btn") as HTMLDivElement;
	const lightIcon = document.querySelector(".light-icon") as HTMLSpanElement;
	const darkIcon = document.querySelector(".dark-icon") as HTMLSpanElement;
	themeBtn.addEventListener("click", () => {
        console.log("clciked...");
        
		const theme = localStorage.getItem("my-theme") || "";
		const newTheme = !theme ?"dark":""
		document.documentElement.setAttribute('data-theme', newTheme);
		if(!theme) {
			//change to dark theme
			localStorage.setItem("my-theme","dark");
			lightIcon.style.display = "none";
			darkIcon.style.display = "inline";
		}else{
			//change to light theme
			localStorage.setItem("my-theme","");
			lightIcon.style.display = "inline";
			darkIcon.style.display = "none";
		}
	})
</script>