---
import '../styles/global.css'
import RightNav from "../components/right-nav.astro";
import FixedNav from "../components/fixed-nav.astro";
import MobileNav from "../components/mobile-nav.astro";
import ThemeButton from "../components/theme-button.astro";

---s

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="google-site-verification" content="he8JEZNJ6iyHnfLMAO74rp65pER43MjRRx2uDz_ik8E" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Tech Dhara specializes in building professional websites tailored to your business needs. Explore our portfolio of innovative and responsive web solutions." />

		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>TechDhara</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	</head>
	<body>	
		<div class="theme-toggle-button">
			<ThemeButton />
		</div>
		<FixedNav />
		</div>
		<div class="container">
			<MobileNav />
			<div class="box">
				<RightNav />
				<main class="main">
					<slot />
				</main>
			</div>
			
		</div>
	</body>
</html>
